<div class="bg-white">
  <nav class="2xl:container 2xl:mx-auto sm:py-6 sm:px-7 py-5 px-4">
    <!-- For large and Medium-sized Screen -->
    <div class="flex justify-between">
      <div class="hidden sm:flex flex-row items-center space-x-6">
        <a href="#" class="">
          <img
            src="assets/images/book-logo.svg"
            alt="An open book logo"
            width="60"
            heigth="60"
          />
        </a>
      </div>
      <div class="flex space-x-3 items-center">
        <h1 class="font-bold text-2xl leading-6 text-gray-800">
          My books list
        </h1>
      </div>
      <div class="hidden sm:flex flex-row space-x-4">
        <button
          class="
            rounded-md
            flex
            space-x-2
            w-24
            h-10
            font-normal
            text-sm
            leading-3
            text-indigo-700
            bg-white
            border border-indigo-700
            focus:outline-none focus:bg-gray-200
            hover:bg-gray-200
            duration-150
            justify-center
            items-center
          "
        >
          Sign Up
        </button>
        <button
          class="
            rounded-md
            flex
            space-x-2
            w-24
            h-10
            font-normal
            text-sm
            leading-3
            text-white
            bg-indigo-700
            focus:outline-none
            focus:ring-2
            focus:ring-offset-2
            focus:ring-indigo-700
            focus:bg-indigo-600
            hover:bg-indigo-600
            duration-150
            justify-center
            items-center
          "
        >
          Sign In
        </button>
      </div>

      <!-- Burger Icon -->
      <div
        id="bgIcon"
        onclick="toggleMenu()"
        class="
          focus:outline-none
          focus:ring-2
          focus:ring-offset-2
          focus:ring-gray-800
          flex
          justify-center
          items-center
          sm:hidden
          cursor-pointer
        "
      >
        <img
          src="assets/images/hamburger-icon.svg"
          alt="Github repository of My Books
        List Project"
          width="30"
          heigth="30"
        />
      </div>
    </div>

    <!-- Mobile and small-screen devices (toggle Menu) -->
    <div id="MobileNavigation" class="hidden sm:hidden mt-4 mx-auto">
      <div class="flex flex-row items-center justify-center space-x-6">
        <a href="#" class="">
          <img
            src="assets/images/hamburger-icon.svg"
            alt="Github repository of My Books List Project"
            width="40"
            heigth="40"
          />
        </a>
        <a href="#" class="">
          <img
            src="assets/images/linkedin.svg"
            alt="My linkedin"
            width="40"
            heigth="40"
          />
        </a>
      </div>
      <div class="flex flex-col gap-4 mt-4 w-80 mx-auto">
        <button
          class="
            rounded-md
            flex
            space-x-2
            w-full
            h-10
            font-normal
            text-sm
            leading-3
            text-indigo-700
            bg-indigo-600 bg-opacity-0
            hover:opacity-100
            duration-100
            border border-indigo-700
            focus:outline-none focus:bg-gray-200
            hover:bg-gray-200
            duration-150
            justify-center
            items-center
          "
        >
          Sign Up
        </button>
        <button
          class="
            rounded-md
            flex
            space-x-2
            w-full
            h-10
            font-normal
            text-sm
            leading-3
            text-white
            bg-indigo-700
            focus:outline-none
            focus:ring-2
            focus:ring-offset-2
            focus:ring-indigo-700
            focus:bg-indigo-600
            hover:bg-indigo-600
            duration-150
            justify-center
            items-center
          "
        >
          Sign In
        </button>
      </div>
    </div>
  </nav>
</div>
